.logo {
    height: 130px;
}

header img {
    margin:0 auto;
    display: block;
}

h1 {
    font-family:sans-serif;
    text-align:center;
    text-transform: uppercase;
}

.section1 {
    text-align: left;
}

.section2 {
    text-align:center;
}

.section3 {
    text-align:right;
}

.nav {
   margin: 18px 0px;
   padding: 20px 0px;
   text-align: center;
   background-color: black;
   border-radius: 15px;
}

header {
    background-color: 
}

footer {
    background-color: black;
}

.nav a {
    color:black;
    font-family: sans-serif;
    margin: 8px;
    padding: 10px 5px;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    font-size: 17px;
}

.nav2 {
    margin: 18px 0px;
   padding: 20px 0px;
   text-align: center;
   background-color: black;
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

main p {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

.nav2 a {
    color: white;
    text-decoration: underline;
    font-family: sans-serif;
    font-size: 18px;
    margin: 5px;
    padding: 15px 5px;
}

.nav2 {
    margin: 18px 0px;
   padding: 20px 0px;
   text-align: center;
}

main img {
    margin:0 auto;
    display: block;
    width: 90px;
    height: 200px;
}

.rotary {
    margin:0 auto;
    display: block;
    width: 160px;
    height: 200px;
}

.facts {
    font-size: 30px;
}

.facts1 {
    font-size: 34px;
}

.facts2 {
    font-size: 25px;
}

.pr {
    font-size: 18px;
}

body {
    margin: 50px;
}

.bg1 {
    background-color: red;
}

.bg2 {
    background-color: blue;
}

.bg3 {
    background-color: green;
}

.bg4 {
    background-color: orange;
}

div {
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
